body {
	font-family: sans-serif;
	max-width: 800px;
	margin: auto;
}

p {
	line-height: 175%;
}

blockquote {
    margin: 0;
    padding-left: 1em;
    border-left: 3px solid #ccc;
}

.monospace { 
	font-family: "monospace"; 
}

